<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <title>Document</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">

</head>

<body>
    <div class="wrapper" style="height: auto;">
        <div id="page-loading">
            <img src="img/logo-header.svg" alt="logo-header.svg" />
        </div>
     
        <main class="main">
            <div class="login-signup">
                <div class="act-rect">
                    <img src="./img/img-rect.png" alt="img-rect.png">
                </div>
                <div class="act-wrapper">
                    <div class="columns">
                        <div class="column txt">
                            <div class="act-inner">
                                <div class="act-logo">
                                    <img src="./img/logo-act.svg" alt="logo-act.svg">
                                </div>
                                <p class="act-p">
                                    Đăng kí tài khoản của bạn để tiếp tục
                                </p>
                                <div class="act-form">
                                    <form action="#">
                                        <div class="act-fm">
                                            <div class="act-f">
                                                <input type="text" class="f-control" placeholder="Tên đăng nhập">
                                            </div>
                                            <div class="act-f">
                                                <input type="text" class="f-control" placeholder="Email">
                                            </div>
                                            <div class="act-f">
                                                <input type="text" class="f-control" placeholder="Mật khẩu">
                                            </div>
                                            <div class="act-f">
                                                <input type="text" class="f-control" placeholder="Nhập lại mật khẩu">
                                            </div>
                                            <div class="act-ft">
                                                <button type="submit" class="btn f-submit">
                                                    ĐĂNG KÍ
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="column ig">
                            <div class="act-ig">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>

        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- masonry -->
    <!-- <script src="./js/libs/masonry/masonry.pkgd.min.js"></script> -->
    <script src="./js/libs/masonry/masonry.pkgd.js"></script>
    <!-- <script src="./js/libs/masonry/masonry-docs.min.js"></script> -->

    <!-- tilt -->
    <script src="./js/libs/tilt/tilt.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>