.footer{
    background-color: #051629;
    margin-top: auto;
    color: $w-cl;
    .logo{
        // min-width: 170px;
        margin-bottom: 15px;
    }

    .column{
        width: calc(100% / 4);
        @include max-media($bk-d-992){
            width: calc(100% / 2);
        }

        &:nth-child(4){
            @include max-media($bk-576){
                width: 100%;
            }
        }

        
    }

    .ft-title{
        margin-bottom: 15px;
    }

    .ft-item{
        display: block;
        transition: all .3s ease;
        &:not(:first-child){
            margin-top: 15px;
        }

        &:hover{
            color: $yellow-cl;
        }

        &.current-menu{
            color: $yellow-cl;
        }
    }


}