.header {
    position: relative;
    width: 100%;
    z-index: 900;
    background-color: $w-cl;
    transition: all .3s ease-in;

    &.--fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.25);

        @include min-media($bk-768) {
            animation: fixedMenu 0.6s;
        }

        .header-top {
            display: none;
        }

        .header-bottom-inner {
            padding: 15px 0;
        }
    }
}

.header-top {
    background-color: $bb-cl;
    transition: all .3s ease;

    &-inner {
        @include flex-mid;
        padding: 18px 0;

        @include max-media($bk-d-1200) {
            padding: 14px 0;
        }

        @include max-media($bk-d-992) {
            padding: 10px 0;
        }
    }

    .top-text {
        font-weight: bold;
        color: $w-cl;
    }
}

.header-bottom {
    background: $bb-cl-1;
    color: $w-cl;

    &-inner {
        padding: 30px 0;
        display: flex;
        //justify-content: flex-start;
        justify-content: space-between;
        align-items: center;

        // color: $t-w-cl;
        @include max-media($bk-d-1200) {
            padding: 20px 0;
        }
        @include max-media($bk-d-768){
            padding: 15px 0;
        }
    }
}

.header-logo {
    margin-right: 15px;
    padding-right: 15px;
    position: relative;

    &::after {
        content: '';
        width: 1px;
        height: 46px;
        background-color: $w-cl;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @include max-media($bk-d-1200) {
            height: 40px;
        }
        @include max-media($bk-d-768){
            height: 30px;
        }
    }


    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.header-search {
    //margin: 0 15px 0 48px;
    //flex-grow: 1;

    // &-icon {
    //     display: none;
    //     width: 44px;
    //     height: 44px;
    //     line-height: 44px;
    //     text-align: center;
    //     background-color: $b-cl;
    //     border-radius: 6px;
    //     font-size: 16px;
    //     color: $main-cl;

    //     @include max-media($bk-768) {
    //         display: block;
    //     }
    // }

    // @include max-media($bk-768) {
    //     .search-form {
    //         display: none;
    //     }
    // }

    .f-control {
        min-width: 360px;

        @include max-media($bk-d-992) {
            min-width: 200px;
        }
    }

    @include max-media($bk-d-768) {
        display: none;
    }

}

.search-mobi {
    padding: 0 15px;
    display: none;
    @include max-media($bk-d-768){
        display: block;
    }
    .search-form {
        .f-control {
            background-color: rgba($color: #e1e1e1, $alpha: .1);
            height: 44px;
            padding: 11px 15px;
        }

        .f-submit{
            height: 44px;
            width: 44px;
        }
    }


}

.header-menu-social {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    @include max-media($bk-d-1200) {
        display: flex;
    }

    .menu-social {
        width: 30px;
        height: 30px;
        // border: 1px solid $main-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $w-cl;
        border-radius: 100%;
        margin: 0 10px;
        cursor: pointer;

        &.social-face {
            background-color: #3B5998;
        }

        &.social-youtube {
            background-color: #EA412C;
        }

        &.social-insta {
            background-color: $b-cl;
        }
    }
}

.header-cart {
    position: relative;
    margin-right: 15px;

    &::before {
        content: '';
        width: 1px;
        height: 46px;
        background-color: $w-cl;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @include max-media($bk-d-1200) {
            height: 40px;
        }

        @include max-media($bk-d-768){
            height: 30px;
        }
    }

    .cart-btn {
        //color: $t-b-cl;
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        // p {
        //     text-transform: uppercase;
        //     font-weight: 700;
        // }

        // .qty-cart{
        //     display: inline;
        //     position: absolute;
        //     top: 0px;
        //     right: -7px;
        //     width: 18px;
        //     height: 18px;
        //     border-radius: 100%;
        //     background-color: rgba($color: red, $alpha: 0.5);
        //     color: $t-w-cl;
        //     font-size: 10px;
        //     line-height: 18px;
        //     text-align: center;
        // }
    }

    &.active {
        .cart-content {
            @include visible;
        }
    }

    .cart-content {
        position: absolute;
        top: 40px;
        right: 0;
        width: 330px;
        background-color: $bg-w-cl;
        border: 1px $g-E5E5-cl solid;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.16);
        padding: 30px 24px;
        @include hidden;
        transition: all .3s ease;
        border-radius: 10px;
        color: $b-cl;

        @include max-media($bk-576) {
            padding: 15px;
            width: 260px;
            // right: -75px;
        }

        .cart-list {
            .cart-item {
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba($color: $b-cl, $alpha: 0.1);
                margin-bottom: 20px;

                @include max-media($bk-576) {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                }
            }

            .cart-close {
                color: $g-E5E5-cl;
                font-size: 18px;
                transition: all .3s ease;
                cursor: pointer;

                &:hover {
                    color: $b-cl;
                }
            }

            .cart-img {
                margin-left: 19px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                border-radius: 6px;

                @include max-media($bk-576) {
                    margin-left: 12px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $b-cl, $alpha: 0.5);
                    z-index: 1;
                    @include hidden;
                }

                &:hover {
                    &::before {
                        @include visible;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                    border-radius: 6px;
                    transition: all .3s ease;

                }
            }

            .cart-info {
                margin-bottom: 2px;
                margin-left: 13px;

                @include max-media($bk-576) {
                    margin-left: 10px;
                }

                .cart-title {
                    transition: all .3s ease;
                    cursor: pointer;

                    &:hover {
                        color: $main-cl;
                    }
                }
            }

            .cart-price {
                color: rgba($color: $t-b-cl, $alpha: 0.6);
            }
        }

        .cart-total {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .total-n {
                color: $main-cl;
                font-weight: 600;
            }
        }

        .cart-pay {
            .btn-link {
                border-radius: 6px;
                border: 1px solid $b-cl;
                background-color: white;
                padding: 11px;
                border-color: $bb-cl-1;
                color: $bb-cl-1;

                &:hover {
                    letter-spacing: 2px;
                }

                &.btn-black {
                    background-color: $bb-cl-1;
                    border-color: $bb-cl-1;
                    color: $t-w-cl;
                    margin-bottom: 8px;
                }

            }
        }
    }
}

.header-catalog {
    position: relative;

    &:hover {
        .cate-content {
            @include visible;
        }
    }

    .cate-title {
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        @include max-media($bk-576){
            font-size: 0;
        }

        img {
            padding-right: 5px;
            @include max-media($bk-576){
                padding-right: 0;
            }
        }
    }

    .cate-content {
        position: absolute;
        top: 30px;
        background-color: $g_b-cl;
        width: 225px;
        border-radius: 3px;
        padding: 16px 0;
        transition: all .3s ease;
        @include hidden;
        @include max-media($bk-576){
            transform: translateX(-50%);
            padding: 7px 0;
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 8px 6px;
            border-color: transparent transparent $g_b-cl transparent;
            position: absolute;
            top: 0;
            left: 32px;
            transform: translateY(-100%);
            @include max-media($bk-576){
                left: 50%;
            }
        }
    }

    .cate-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px 8px 24px;
        transition: all .3s ease;
        @include max-media($bk-576){
            padding: 8px 15px;
        }
        img {
            filter: brightness(0) invert(1);
            transition: all .3s ease;
        }

        &:hover {
            color: $yellow-cl;
            background-color: rgba($color: #D2D2D2, $alpha: .3);

            img {
                filter: none;
                transform: translateX(3px);
            }
        }

    }
}

.header-user {
    position: relative;
    &.active{
        .user-content{
            @include visible;
        }
    }
    .user-title{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .name-user {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        padding-right: 5px;
        @include max-media($bk-d-992) {
            font-size: 0;
        }

        img {
            padding-left: 5px;
        }
    }

    .user-content{
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        background-color: #19222D;
        border-radius: 10px;
        transform: translate(20px , 20px);
        transition: all .3s ease;
        @include hidden;
        &::after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8px 10px 8px;
            border-color: transparent transparent #19222D transparent; 
            position: absolute;
            top: 0;
            right: 20px;
            transform: translateY(-99%);
        }
    }

    .user-list{
        
    }

    .user-item{
        display: block;
        padding: 10px 15px;
        transition: all .3s ease;
        @include fz-16;
        cursor: pointer;
        &:hover{
            color: $main-cl;
        }
    }
}

.header-rt {
    display: flex;
    align-items: center;
}

.header-lt {
    display: flex;
    align-items: center;
}

.header-menu {

    &-inner {
        .logo-mobile {
            display: none;
            max-width: 200px;
            margin: 0 auto 20px;

            @include max-media($bk-d-1200) {
                display: block;
            }
        }
    }

    @include max-media($bk-d-1200) {
        @include pos-full-fixed;
        left: unset;
        right: 100vw;
        text-align: left;
        transition: all .2s ease;
        z-index: 998;

        &.--active {
            right: 0;
        }

        .header-menu-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: $g_b-cl;
            padding: 20px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}

.header-list {
    position: relative;
    display: flex;
    // justify-content: center;
    // align-items: center;

    @include max-media($bk-d-1200) {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
        @include custom-scrollbar(3px, $main-cl)
    }

    // style chung
    a {
        position: relative;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // font-weight: bold;
        // text-transform: uppercase;
        @include trans(.3s);
        //color: $t-b-cl;

        //font-size: 12px;
        @include max-media($bk-d-1200) {
            padding: 10px 20px;
            border-bottom: 1px solid rgba($color: $bg-b-cl, $alpha: 0.16);
            transition: all .3s ease;
            justify-content: flex-start;
        }
    }

    // live 1
    >li {
        >a {
            @include min-media($bk-1200) {
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1.5px;
                    background-color: $main-cl;
                    transition: all .3s ease;
                }

                &:hover {
                    color: $main-cl;

                    img {
                        filter: none !important;
                    }

                    &::before {
                        width: calc(100% - 24px);
                    }
                }
            }

            &:focus {
                @include max-media($bk-d-1200) {
                    color: $main-cl;
                }
            }
        }
    }

    // active live1
    .current-menu-item {
        >a {
            color: $main-cl;

            &::before {
                width: calc(100% - 24px);
            }
        }

        // active live 2
        .current-menu-item {
            >a {
                background-color: $main-cl;
                color: $w-cl;
            }
        }
    }
}

.dropdown {
    position: relative;

    //hover trên deskop
    @include min-media($bk-1200) {
        &:hover {
            >.sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    // mobile
    @include max-media($bk-d-1200) {
        &:hover {
            >a {
                color: $main-cl;

                img {
                    filter: none;
                }
            }
        }
    }

    .dropdown {
        &:hover {
            >a {
                // background-color: $main-cl;
                background: linear-gradient(45deg, #00F1EF 2.64%, #005FFF 99.63%);
                color: $w-cl;
            }
        }
    }

    a {
        // font-weight: bold;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // text-transform: uppercase;
        transition: all .3s ease;

        img {
            filter: brightness(0) invert(1);
            padding-right: 5px;

        }
    }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        font-weight: bold;
        transition: transform .3s;
        text-align: center;

        // mobile
        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);

            &.--show {
                transform: rotate(0deg);
            }

        }
    }


}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    font-size: 12px;
    color: $t-b-cl;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);

    @include max-media($bk-d-1200) {
        background-color: $g_b-cl;
        color: $w-cl;
    }

    .sub-menu {
        top: 0;
        left: 100%;
    }

    //desktop
    @include min-media($bk-1200) {
        transition: .3s;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
    }

    a {
        padding: 15px;

        @include min-media($bk-1200) {
            &:hover {
                color: $t-w-cl;
                // background-color: $main-cl;
                background: linear-gradient(45deg, #00F1EF 2.64%, #005FFF 99.63%);

            }
        }
    }

    //mobile
    @include max-media($bk-d-1200) {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: none;

        a {
            padding-left: 30px;
            border-bottom: 1px solid transparent;

            &:hover {
                color: $w-cl;
                // background-color: $main-cl;
                background: linear-gradient(45deg, #00F1EF 2.64%, #005FFF 99.63%);
            }
        }

        .sub-menu a {
            padding-left: 45px;
        }

        .sub-menu .sub-menu a {
            padding-left: 60px;
        }
    }
}