.pagination {
    margin-top: 30px;
    text-align: center;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3.5px;

        .page-numbers {
            width: 44px;
            height: 44px;
            border-radius: 6px;
            transition: all .4s ease;
            background-color: $w-cl;
            color: $b-cl;
            @include lh(24, 14);
            @include flex-mid;
            position: relative;
            overflow: hidden;
            z-index: 0;

            &.current {
                background: linear-gradient(90deg, #01F1EF -12.5%, #0165FF 100%);
                color: $w-cl;
                font-weight: bold;
            }

            &:hover {
                // background: linear-gradient(90deg, #01F1EF -12.5%, #0165FF 100%);
                color: $w-cl;
				&::after{
					@include visible;
				}
            }

            &::after {
                content: '';
                @include pos-full;
                background: linear-gradient(90deg, #01F1EF -12.5%, #0165FF 100%);
                z-index: -1;
				transition: all .4s ease;
				@include hidden;
            }

            @include max-media($bk-576) {
                width: 36px;
                height: 36px;
            }
        }

        .page-dot {
            margin: 0 7.5px;
        }

        .page-arrow {
            width: 44px;
            height: 44px;
            @include flex-mid;
            background-color: $w-cl;
            border-radius: 6px;
            transition: all .3 ease;
			position: relative;
			z-index: 0;
			overflow: hidden;

            &:hover {
                // background: linear-gradient(90deg, #01F1EF -12.5%, #0165FF 100%);
				&::after{
					@include visible;
				}
				
                img {
                    filter: brightness(0) invert(1);
                }
            }

			&::after {
                content: '';
                @include pos-full;
                background: linear-gradient(90deg, #01F1EF -12.5%, #0165FF 100%);
                z-index: -1;
				transition: all .4s ease;
				@include hidden;
            }

            @include max-media($bk-576) {
                width: 36px;
                height: 36px;
            }
        }
    }
}