.page-blog {
    .column {
        width: calc(100% / 3);
        @include max-media($bk-d-768){
            width: calc(100% / 2);
        }
        @include max-media($bk-576){
            width: 100%;
        }
    }
}

.blog-bx {
    border-radius: 10px;
    padding: 15px;
    background-color: #181F28;

    &:hover {
        .img {
            img {
                transform: scale(1.1);
            }
        }

        .title {
            color: $yellow-cl;
        }
    }

    .img {
        border-radius: 10px;
        overflow: hidden;
        display: block;

        img {
            transition: all .3s ease;
        }
    }

    .content {
        padding-top: 15px;
    }

    .title {
        margin-bottom: 15px;
        line-height: 1.5;
        display: block;
        color: $main-cl;
        transition: all .3s ease;
        @include line-clamp(3);
        @include max-media($bk-d-992){
            -webkit-line-clamp: 2;
            margin-bottom: 10px;
        }
    }

    .desc {
        margin-bottom: 15px;
        line-height: 1.5;
        @include line-clamp(3);
        
    }

    .blog-ft {
        display: flex;
        align-items: center;
    }

    .itm {
        display: flex;
        align-items: center;

        &-t {
            padding-left: 5px;
        }

        &:nth-child(1) {
            padding-right: 40px;
            @include max-media($bk-d-992){
                padding-right: 20px;
            }
        }
    }
}


