.membership{
    padding: 60px 0;
    .column{
        &.txt{
            width: calc(100% / 12 * 3);
            @include max-media($bk-d-1200){
                width: calc(100% /12 * 4);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.sld{
            width: calc(100% / 12 * 9);
            @include max-media($bk-d-1200){
                width: calc(100% / 12 * 8);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &s{
            align-items: center;
        }
    }

    .title{
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .desc{
        line-height: 1.5;
    }

    .ship-slide{
        overflow: hidden;
    }

    .swiper{
        margin: 0 -15px;
        @include max-media($bk-d-992){
            margin:  0 -7.5px;
        }
        &-custom{
            position: relative;
        
        }
        &-slide{
            width: calc(100% / 3);
            padding: 0 15px;
            @include max-media($bk-d-1200){
                width: calc(100% / 2);
            }
            @include max-media($bk-d-992){
                padding:  0 7.5px;
            }
            @include max-media($bk-576){
                width: 100%;
            }
        }
        &-button-next , &-button-prev{
            width: 30px;
            height: 30px;
            background-color: #E5E5E5;
            border-radius: 100%;
            @include flex-mid;
            &::after{
                font-size: 12px;
                color: $b-cl;
                font-weight: bold;
            }
        }

        &-button-prev{
            left: 15px;
            transform: translateX(-100%);
            @include hidden;
            @include max-media($bk-d-768){
                @include visible;
            }
        }

        &-button-next{
            right: -30px;
            transform: translateX(100%);
            @include max-media($bk-d-1440){
                right: -15px;
            }
            @include max-media($bk-d-1200){
                right: 15px;
            }
        }
    }

    

    .s-box{
        background-color: $w-cl;
        color: $b-cl;
        border-radius: 5px;
        overflow: hidden;
        padding: 30px;
        position: relative;
        z-index: 0;
        @include max-media($bk-d-992){
            padding: 20px;
        }
        &::after{
            content: '';
            background-image: url('../img/bg-ship.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 67px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        .s-label{
            margin-bottom: 15px;
            @include max-media($bk-d-1200){
                margin-bottom: 7px;
            }
        }

        .s-price{
            margin-bottom: 30px;
            line-height: 1;
            @include max-media($bk-d-1200){
                margin-bottom: 15px;
            }
        }

        .s-desc{
            margin-bottom: 30px;
            line-height: 1.5;
            @include max-media($bk-d-1200){
                margin-bottom: 15px;
            }
        }

        .s-item{
            display: flex;
            &:not(:first-child){
                margin-top: 14px;
                @include max-media($bk-576){
                    margin-top: 7px;
                }
            }

        }

        .s-tx{
            padding-left: 10px;
        }

        .s-btn{
            text-align: center;
            margin-top: 30px;
            @include max-media($bk-576){
                margin-top: 20px;
            }
        }

        .btn-join{
            color: $w-cl;
            @include max-media($bk-576){
                padding: 10px 20px;
            }
            
        }
    }
}

.page-member{
    position: relative;
    overflow: hidden;
    z-index: 0;
    .bg-m{
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        @include max-media($bk-d-768){
            display: none;
        }
        img{
            // width: 100%;
            // height: 100%;
            width: auto;
            height: auto;
            object-fit: cover;
            max-width: 100%;
        }
        &en-1{
            // transform: translateY(9%);
        }

        &en-2{
            // transform: translateY(25%);
        }
    }
}

.signup-member{
    .column{
        &.txt{
            width: calc(100% / 12 * 5);
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.frm{
            width: calc(100% /12 * 6);
            @include max-media($bk-d-992){
                width: calc(100% /12 * 6 + 30px);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &s{
            align-items: center;
            justify-content: space-between;
        }
    }

    .title{
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .desc{
        line-height: 1.5;
    }


    .signup-form {
        position: relative;

        .f-submit {
            position: absolute;
            top: 5px;
            bottom: 5px;
            right: 7.5px;
            background-color: $yellow-cl;
            width: auto;
            height: auto;
            padding: 11px 30px;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
            border: 1px solid transparent;

            @include max-media($bk-576) {
                padding: 10px 20px;
            }

            &:hover,
            &:focus {
                transform: scale(.9);
            }
        }

        .f-control {
            border-radius: 10px;
            padding: 16px 140px 16px 15px;
            height: 50px;
            transition: all .3s ease;

            @include max-media($bk-576) {
                padding-right: 120px;
            }


            &::placeholder {
                opacity: .3;
                font-style: italic;
            }
        }

        &:hover,
        &:focus {
            .f-control {
                border-color: $main-cl;
            }
        }
    }



}
.member-study{
    overflow: hidden;
    @include max-media($bk-d-768){
        padding: 40px 0;
    }

    .container-full{
        @include min-media($bk-768){
            padding: 0;
        }
        
    }

    .study-wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .s-img{
        width: 50%;
        padding-right: 15px;
        position: relative;
        @include max-media($bk-d-992){
            padding-right: 7.5px;
        }
        @include  max-media($bk-d-768){
            width: 100%;
            padding: 0;
        }
        img{
            transform: translate(-17%, 19%);
            max-width: none;
            object-fit: cover;
            @include  max-media($bk-d-1900){
                width: 100%;
                height: 100%;
                max-width: 100%;
                transform: translate(-12%, 13%);
            }
            @include max-media($bk-d-768){
                transform: translate(0, 0);
            }
        }
    }

    .study-inner{
        width: 50%;
        padding: 0 15px;
        
        @include min-media($bk-d-1200){
            padding-right: calc((100vw - 1200px) / 2);
        }
        @include min-media(1921px){
            padding-right: calc((1920px - 1200px) / 2);
        }

        @include max-media($bk-d-992){
            padding-left:  7.5px;
        }

        @include  max-media($bk-d-768){
            width: 100%;
            padding: 15px 0 0;
        }

       
    }

    .title{
        margin-bottom: 15px;
        line-height: 1.2;
        br{
            @include max-media($bk-d-992){
                display: none;
            }
        }
    }

    .desc{
        line-height: 1.5;
    }
}