.detail-steam {
    .banners-steam {
        background: linear-gradient(90deg, #00F1EF 24.37%, #0163FF 93.75%);
        padding: 30px 0 60px;
        color: $b-cl;
        @include max-media($bk-d-1200){
            padding: 30px 0 45px;
        }
        @include max-media($bk-d-992){
            padding: 30px 0;
        }
    }

    .steam-head {
        padding-top: 60px;
        width: calc(100% / 12 * 8);
        @include max-media($bk-d-1200){
            padding-top: 40px;
        }
        @include max-media($bk-d-992){
            padding-top: 20px;
        }

        .star {

            .empty-stars,
            .filled-stars {
                i {
                    margin: 0;
                }
            }

            &-text {
                font-size: 10px;
                padding-left: 5px;
            }
        }
    }

    .title {
        margin-bottom: 15px;
    }

    .steam-info {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .avatar {
            border-radius: 100%;
            overflow: hidden;
            max-width: 41px;
        }

        .steam-text {
            padding-left: 9px;
        }

        .name {
            margin-bottom: 3px;
            line-height: 1.2;
        }
    }



    .steam-ft {
        display: flex;
        align-items: center;

        .itm {
            display: flex;
            align-items: center;
            padding-left: 15px;
            margin-left: 15px;
            border-left: 1px solid $b-cl;

            img {
                margin-right: 5px;
                filter: brightness(0) invert(0);
            }
        }
    }

    ///steam main
    .steam-main {
        padding-bottom: 30px;

        .column {
            &.txt {
                width: calc(100% / 12 * 8);
                @include max-media($bk-d-768){
                    width: 100%;
                }
            }

            &.sidebar {
                width: calc(100% /12 * 4);
                transform: translateY(-260px);
                @include max-media($bk-d-1200){
                    transform: translateY(-230px);
                }
                @include max-media($bk-d-992){
                    transform: translateY(-200px);
                }
                @include max-media($bk-d-768){
                    width: 100%;
                    transform: translateY(0);
                }

                
            }
        }
    }

    .steam-title {
        margin-bottom: 15px;
    }

    .mona-content {
        line-height: 1.5;

        h4 {
            @include fz-16;
            margin: 0 0 15px;
        }

        ul {
            margin-bottom: 0;
            li {
                position: relative;
                margin-left: 15px;
                padding-left: 20px;

                &:not(:first-child) {
                    margin-top: 15px;
                }

                &::before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    background-image: url('../img/svg/icon-check.svg');
                }
            }
        }
    }


    .steam-cart {
        border-radius: 10px;
        overflow: hidden;
        background-color: $w-cl;
        color: $b-cl;

        .steam-content {
            padding: 15px 15px 35px;
            @include max-media($bk-d-992){
                padding: 15px 15px 20px;
            }
        }

        .steam-item {
            &:not(:first-child) {
                margin-top: 15px;
                padding-top: 15px;
                border-top: 1px solid rgba($color: #C4C4C4, $alpha: .3);
                @include max-media($bk-d-992){
                    margin-top: 10px;
                    padding-top: 10px;
                }
            }
        }

        .itm {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .steam-img {
        position: relative;
        >img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            
        }

    }

    .icon-play {
        @include pos-mid;
    }

    .steam-btn {
        margin-top: 15px;

        .btn {
            padding: 16px 10px;
            border-radius: 10px;
            @include max-media($bk-d-992){
                padding: 12px 10px;
            }
        }

        .btn-buy {
            background: linear-gradient(90deg, #FFF004 0%, #FE9239 47.8%, rgba(254, 1, 174, 0.81) 123.2%);
            color: $w-cl;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                background: linear-gradient(89.96deg, #00F1EF 2.64%, #005FFF 99.63%);
                transition: transform 0.5s ease-in-out;
                transform: scaleX(0);
                transform-origin: center right;
            }

            &:hover {
                &::after {
                    transform: scale(1);
                    transform-origin: center left;
                }
            }
        }

        .btn-addtocart {
            margin-top: 15px;
            background-color: #F3F3F3;

            &:hover {
                background-color: $main-cl;
                color: $w-cl;
            }
        }
    }

    .steam-cate{
        background-color: $w-cl;
        padding: 15px;
        border-radius: 10px;
        overflow: hidden;
        color: $b-cl;
        margin-top: 30px;
        .cate-title{
            margin-bottom: 15px;
        }

        .cate-item{
            display: block;
            transition: all .3s ease;
            &:not(:first-child){
                margin-top: 15px;
            }

            &:hover{
                color: $main-cl;
            }
        }
    }

    //comment 
    .steam-comment{
        margin-top: 30px;
        width: calc(100% / 12 * 8);
        @include max-media($bk-d-768){
            width: 100%;
            margin-top: 20px;
        }
    }
    .feedback {
        .cols {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
            @include max-media($bk-d-992){
                margin: -7.5px;
                align-items: center;
            }
        }

        .col {
            padding: 15px;
            @include max-media($bk-d-992){
                padding: 7.5px;
            }

            &.fb-bx {
                width: 198px;
                @include max-media($bk-576){
                    width: 130px;
                }
            }


            &.fb-txt {
                width: 370px;
                width: calc(100% - 198px);
                @include max-media($bk-576){
                    width: calc(100% - 130px);
                }
            }
        }

        .fb-title {
            margin-bottom: 15px;
        }

        .star {

            .empty-stars,
            .filled-stars {
                i {
                    margin: 0;
                    @include max-media($bk-576){
                        font-size: 14px;
                    }
                }
            }
        }

        .fb-box {
            background-color: $w-cl;
            border-radius: 10px;
            color: $b-cl;
            padding: 17px 15px;
            text-align: center;
            @include max-media($bk-576){
                padding: 15px 10px;
            }

            .box-star-line {
                flex-wrap: wrap;
                flex-direction: column;
            }

            

            .star-text {
                margin-top: 15px;
                @include fz-16;
                @include max-media($bk-576){
                    margin-top: 7px;
                }
            }
        }

        .fb-num {
            margin-bottom: 15px;
            line-height: 1.1;
            @include max-media($bk-576){
                margin-bottom: 7px;
            }
        }

        .fb-item{
            &:not(:first-child){
                margin-top: 13px;
                @include max-media($bk-576){
                    margin-top: 5px;
                }
            }
            .process{
                width: 100%;
                max-width: 100%;
                margin:  0 10px 0 15px;
                max-width: 170px;
                @include max-media($bk-576){
                    margin: 0 10px;
                    width: calc(100% - 119px);
                }
            }

            // .star{
            //     .empty-stars , .filled-stars{
            //         i{
            //             @include max-media($bk-576){
            //                 font-size: 14px;
            //             }
            //         }
            //     }
            // }

            .star-text{
                text-align: right;
                width: 35px;
            }
        }




    }

    .comments{
        margin-top: 30px;
        @include max-media($bk-d-768){
            margin-top: 20px;
        }
        .cm-title{
            margin-bottom: 15px;
        }

        .cm-item{
            &:not(:first-child){
                margin-top: 30px;
                border-top: 1px solid $w-cl;
                padding-top: 30px;
                @include max-media($bk-d-992){
                    padding-top: 15px;
                    margin-top: 15px;
                }
            }
        }

        .cm-acc{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .cm-avatar{
            max-width: 41px;
            max-height: 41px;
            img{
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }

        .cm-text{
            padding-left: 8px;
        }

        .cm-name{
            margin-bottom: 3px;
        }

        .box-star-line{
            margin-bottom: 15px;
            @include max-media($bk-d-992){
                margin-bottom: 10px;
            }
        }

        .star{
            .empty-stars , .filled-stars{
                i{
                    margin: 0;
                    @include max-media($bk-576){
                        font-size: 14px;
                    }
                }
            }
        }

        .cm-txt{
            line-height: 1.5;
        }
    }
}