.accounts-if {
    .column {
        &.acc-side {
            width: calc(100% / 12 * 3);
            @include max-media($bk-d-992){
                width: calc(100% /12 * 3.5);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }

        &.acc-txt {
            width: calc(100% / 12 * 9);
            @include max-media($bk-d-992){
                width: calc(100% /12 * 8.5);
            }
            @include max-media($bk-d-768){
                width: 100%;
            }
        }
    }

    .accounts-sidebar {
        // padding-top: 60px;
        position: relative;
        z-index: 0;
        height: 100%;

        &::after {
            content: '';
            width: 1px;
            height: 100%;
            max-height: 374px;
            background-color: #c4c4c4;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

    }

    .acc-list {}

    .acc-item {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:first-child) {
            margin-top: 15px;
            @include max-media($bk-576){
                margin-top: 10px;
            }
        }

        &.active {
            border-right: 1px solid $main-cl;

            img {
                filter: none;
            }

            .acc-p {
                color: $main-cl;
            }
        }

        &:hover {
            img {
                filter: none;
            }

            .acc-p {
                color: $main-cl;
            }
        }

        img {
            width: 15px;
            height: 15px;
            filter: brightness(0) invert(1);
        }

        .acc-p {
            padding-left: 10px;
            text-transform: uppercase;
        }
    }

    .cols {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

        @include max-media($bk-d-992) {
            margin: -7.5px;
        }
    }

    .col {
        padding: 15px;

        @include max-media($bk-d-992) {
            padding: 7.5px;
        }
    }

    // account infor
    .acc-infor {
        padding: 15px 0;

        .cols {
            align-items: center;
        }

        .col {
            &.ig {
                width: calc(100% / 9 * 3);
                @include max-media($bk-d-992){
                    margin: 0 auto;
                }
                @include max-media($bk-576){
                    width: 187px;
                }
            }

            &.txt {
                width: calc(100% / 9 * 6);
                @include max-media($bk-d-992){
                    width: 100%;
                }
            }
        }

        .acc-ig {
            background-color: $w-cl;
            border-radius: 10px;
            padding: 46px 0 92px;
            color: $b-cl;
            text-align: center;
            @include max-media($bk-d-1200){
                padding: 46px 0;
            }
            @include max-media($bk-d-992){
                padding: 30px 0;
            }
        }

        .img {
            width: 130px;
            height: 130px;
            border-radius: 100%;
            overflow: hidden;
            margin: 0 auto;
            @include max-media($bk-d-1200){
                width: 110px;
                height: 110px;
            }
            @include max-media($bk-d-992){
                width: 80px;
                height: 80px;
            }

            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }

        .acc-name {
            margin-top: 15px;
            text-transform: capitalize;
        }

        .f-hidden {
            display: none;
        }

        .acc-upl {
            margin-top: 15px;
            color: $main-cl;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            @include max-media($bk-d-992){
                margin-top: 7px;
            }
            &::after {
                content: '';
                background-image: url('../img/svg/icon-download.svg');
                width: 15px;
                height: 15px;
                margin-left: 15px;
            }

        }

        .acc-label {
            @include fz-16;
            font-weight: bold;
            margin-bottom: 9px;
        }

        .f-control {
            @include fz-16;
            height: auto;
            padding: 13px 17px 13px;
            transition: all .3s ease;
            border-radius: 10px;

            &:hover,
            &:focus {
                border-color: $main-cl;
            }

            &::placeholder {
                color: $b-cl;
                opacity: .4;
            }
        }

        .acc-frm {
            display: flex;
            flex-wrap: wrap;
            margin: -7.5px -15px;
        }

        .acc-group {
            width: 50%;
            padding: 7.5px 15px;
            @include max-media($bk-d-992){
                width: 100%;
            }

            &.w-100 {
                width: 100%;
            }
        }

        .acc-btn {
            margin-top: 15px;
            margin-left: auto;
            width: auto;
        }

        .f-submit {
            width: auto;
            background: linear-gradient(90deg, #FFF004 0%, #FE9239 47.8%, rgba(254, 1, 174, 0.81) 123.2%);
            color: $w-cl;
            border-radius: 10px;
            padding: 16px 30px;
            cursor: pointer;
            @include max-media($bk-d-992){
                padding: 10px 20px;
            }
        }
    }

    // account course
    .acc-course {
        .col{
            width: calc(100% / 3);
            @include max-media($bk-d-1024){
                width: calc(100% / 2);
            }
        }
        .title {
            display: inline-block;
            margin-bottom: 20px;
            line-height: 1.2;
        }

        .bx-con{
            @include max-media($bk-576){
                padding: 10px;
            }
        }

        .timer{
            @include max-media($bk-576){
                margin-bottom: 5px;
            }
        }

        .bx-tt{
            @include max-media($bk-576){
                margin-bottom: 5px;
                @include line-clamp(1);
            }
        }

        .box-star-line{
            @include max-media($bk-576){
                margin-top: 3px;
            }
        }

        .star{
            .empty-stars , .filled-stars{
                i{
                    @include max-media($bk-576){
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // account cart
    .acc-cart {

        .acc-cols {
            display: flex;
            flex-wrap: wrap;
            @include max-media($bk-d-992){
                padding: 40px 0;
            }
            @include max-media($bk-d-768){
                padding: 25px 0 40px;
            }
        }

        .acc-col {
            // padding: 15px;

            &.ac-tx {
                width: calc(100% / 9 * 6);
                padding-right: 15px;
                @include max-media($bk-d-1200){
                    padding-right: 7.5px;
                }
                @include max-media($bk-d-992){
                    width: 100%;
                    padding: 0;
                }
            }

            &.ac-py {
                width: calc(100% / 9 * 3);
                padding-left: 15px;
                @include max-media($bk-d-1200){
                    padding-left: 7.5px;
                }
                @include max-media($bk-d-992){
                    width: 100%;
                    padding: 0;
                }
            }
        }

        .ac-txt {
            padding: 60px 0;
            @include max-media($bk-d-1200){
                padding: 40px 0;
            }
            @include max-media($bk-d-992){
                padding: 0 0 40px;
            }
        }

        .ac-py {
            padding: 15px 0;
            @include max-media($bk-d-992){
                padding: 0;
            }
        }

        .title {
            display: inline-block;
            line-height: 1.2;
        }

        .acc-tab {
            margin-top: 30px;
            width: 100%;
            @include max-media($bk-d-992){
                margin-top: 10px;
            }

            thead {
                th {
                    text-transform: uppercase;
                    text-align: left;

                    &:nth-child(1) {
                        width: 15%;
                        @include max-media($bk-576){
                            width: 12%;
                        }
                    }

                    &:nth-child(2) {
                        width: 55%;
                    }

                    &:nth-child(3) {
                        width: 23%;
                        @include max-media($bk-576){
                            width: 26%;
                        }
                    }

                    &:nth-child(4) {
                        width: 7%;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding-top: 15px;
                        padding: 15px 15px 0 0;
                        @include max-media($bk-576){
                            padding: 10px 5px 0 0;
                        }
                        &:last-child{
                            padding-right: 0;
                            img{
                                margin-left: auto;
                            }
                        }
                    }


                }
            }
        }
    }

    .acc-pay {
        padding: 45px 15px;
        background-color: #F3F5F6;
        color: $b-cl;
        border-radius: 10px;
        @include max-media($bk-d-1200){
            padding: 35px 15px;
        }
        @include max-media($bk-d-768){
            padding: 15px;
        }
        .pay-title {
            margin-bottom: 15px;
        }

        .p-item {
            &:not(:first-child) {
                margin-top: 15px;
            }
        }

        .f-hidden {
            display: none;

            &:checked+.checkmark {

                .checked {
                    background-color: $main-cl;

                    &::after {
                        @include visible;
                    }
                }

            }
        }

        .checkmark {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .checked {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid rgba($color: $b-cl, $alpha: .3);
            background-color: $w-cl;
            position: relative;

            &::after {
                content: '';
                background-image: url('../img/svg/icon-check-b.svg');
                width: 10px;
                height: 7px;
                @include pos-mid;
                z-index: 1;
                @include hidden;
            }
        }

        .text-check {
            width: calc(100% - 20px);
            padding-left: 10px;
        }

        .pay-ft {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #C4C4C4;
        }

        .pay-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
        }

        .btn-pay {
            border-radius: 10px;
            color: $w-cl;
            margin-top: 20px;
            height: auto;
            padding: 16px 10px;
            cursor: pointer;
            background: linear-gradient(90deg, #FFF004 0%, #FE9239 47.8%, rgba(254, 1, 174, 0.81) 123.2%);

            &::after {
                content: '';
                @include pos-full;
                z-index: -1;
                transition: all .3s ease;
                background: $main-cl;
                @include hidden;
            }

            &:hover {
                &::after {
                    @include visible;
                }
            }
        }
    }

}

.my-couese {}

.course-videos {

    .course-vd {
        position: relative;
    }

    .bx-video {
        position: relative;
        padding-top: 56.25%;
        width: 100%;

        &.playing {
            .s-play {
                @include hidden;
            }
        }

        .s-play {
            @include pos-mid;
            pointer-events: none;
            transition: all .3s ease;
            @include max-media($bk-576){
                transform: translate(-50% , -50%) scale(.7);
                transform-origin: center center;
            }

        }

        .s-video {
            width: 100%;
            cursor: pointer;
            @include pos-full;

        }
    }

    .vd-catalog {
        position: absolute;
        top: 32px;
        right: 66px;
        @include max-media($bk-d-992){
            top: 20px;
            right: 35px;
        }

        &.active{
            .vd-list{
                display: block;
            }
        }
    }

    .vd-item {
        &:first-child {
            .v-title {
                border: none;
            }
        }

        &.active {
            .v-title{
                color: $main-cl;
                font-weight: bold;
            }

            .v-content{
                display: block;
            }

            img {
                transform: rotate(0deg);
            }
        }
    }

    .vd-title {
        cursor: pointer;
    }

    .vd-list {
        position: absolute;
        top: 100%;
        right: -32px;
        transform: translateY(11px);
        width: 187px;
        background-color: $w-cl;
        color: $b-cl;
        border-radius: 10px;
        display: none;
        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 11px 11px 11px;
            border-color: transparent transparent $w-cl transparent;
            position: absolute;
            top: 0%;
            right: 36px;
            transform: translateY(-100%);
        }
    }

    .v-title {
        padding: 30px;
        border-top: 1px solid #C4C4C4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .3s ease;
        cursor: pointer;
        @include max-media($bk-d-1200){
            padding: 15px;
        }
        @include max-media($bk-d-992){
            padding: 10px 15px;
        }
        &:hover {
            color: $main-cl;
        }

        img {
            transition: all .3s ease;
            transform: rotate(-180deg);
            @include max-media($bk-d-1200){
                width: 12px;
            }
        }

        
    }

    .v-content {
        padding: 15px 30px;
        border-top: 1px solid #D5D5D5;
        overflow-y: auto;
        max-height: 212px;
        @include custom-vertical-scrollbar(7px , $main-cl);
        display: none;
        transition: all .3s ease;
        @include max-media($bk-d-1200){
            padding: 15px;
        }
        @include max-media($bk-d-992){
            max-height: 135px;
        }
        .v-itm{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &:not(:first-child){
                margin-top: 15px;
                @include max-media($bk-d-1200){
                    margin-top: 10px;
                }
            }
           
            &::after{
                content: '';
                background-image: url('../img/svg/icon-check-2.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 13px;
                height: 11px;
                transition: all .3s ease;
                @include hidden;
            }

            &.active{
                &::after{
                    @include visible;
                }
            }
            
        }
    }

    .course-txt {
        padding-top: 60px;
        @include max-media($bk-d-1200){
            padding-top: 40px;
        }
        @include max-media($bk-d-768){
            padding-top: 20px;
        }
    }

    .title {
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .c-item {
        &:not(:first-child) {
            margin-top: 14px;
        }

        display: flex;
        align-items: center;

    }

    .c-icon {
        img {
            width: 15px;
            height: 15px;
        }
    }

    .c-tx {
        padding-left: 10px;
    }
}

.m-course-tab {
    width: calc(100% / 12 * 8);
    @include max-media($bk-d-992){
        // width: calc(100% /12 * 10);
        width: 100%;
    }
    .course-head {
        display: flex;
        position: relative;
        z-index: 0;

        &::after {
            content: '';
            border-bottom: 1px solid #C4C4C4;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            z-index: -1;
        }
    }

    .tab-title {
        text-transform: uppercase;
        transition: all .3s ease;
        cursor: pointer;
        padding-bottom: 4px;
        border-bottom: 1px solid transparent;

        &:not(:first-child) {
            margin-left: 30px;
        }

        &.active {
            color: $main-cl;
            border-color: $main-cl;
        }
    }

    //content
    .tab-cont {
        display: none;

        &.active {
            animation: showTab 1s;
            display: block;
        }
    }

    .course-content {
        margin-top: 15px;

        .f-control {
            height: 157px;
            padding: 15px;
            resize: none;
            border-radius: 10px;
            @include max-media($bk-d-1200){
                height: 120px;
            }
            @include max-media($bk-d-992){
                height: 100px;
            }
        }

        .btn-join {
            font-weight: bold;
            color: $w-cl;
            cursor: pointer;
            margin-top: 30px;
            @include max-media($bk-d-1200){
                margin-top: 15px;
            }
            @include max-media($bk-d-768){
                padding: 12px 20px;
            }
        }
    }

    //comment
    .course-comment {
        .cm-list {
            margin-top: 30px;
        }

        .cm-item {
            display: flex;
            flex-wrap: wrap;

            &:not(:first-child) {
                margin-top: 30px;
                padding-top: 30px;
                border-top: 1px solid $w-cl;
                @include max-media($bk-576){
                    margin-top: 20px;
                    padding-top: 20px;
                }
            }
        }

        .cm-avatar {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 100%;
            @include max-media($bk-d-1200){
                width: 80px;
                height: 80px;
            }
            @include max-media($bk-576){
                width: 60px;
                height: 60px;
            }

            img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }

        .cm-txt {
            width: calc(100% - 100px);
            padding-left: 20px;
            @include max-media($bk-d-1200){
                width: calc(100% - 80px);
            }
            @include max-media($bk-576){
                padding-left: 15px;
                width: calc(100% - 60px);
            }
        }

        .cm-name {
            margin-bottom: 14px;
            @include max-media($bk-576){
                margin-bottom: 7px;
            }
        }

        .cm-desc {
            line-height: 1.5;
            margin-bottom: 15px;
        }

        .cm-social {
            display: flex;
            align-items: center;
        }

        .s-item {
            transition: all .3s ease;

            &:not(:first-child) {
                margin-left: 10px;
            }

            &:hover {
                transform: translateY(-5px);
            }
        }

    }

    //documents
    .course-documents {
        .doc-item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:first-child) {
                margin-top: 15px;
            }
        }

        .doc-tx {
            display: flex;
            align-items: center;
            padding-right: 10px;
        }

        .doc-img{
            flex-shrink: 0;
        }

        .doc-text {
            padding-left: 15px;
            @include  max-media($bk-576){
                padding-left: 10px;
            }
        }

        .doc-name {
            margin-bottom: 15px;
            @include max-media($bk-576){
                margin-bottom: 5px;
            }
        }

        .doc-download {
            width: auto;
            height: auto;
            padding: 17px 30px 15px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, #FFF004 0%, #FE9239 47.8%, rgba(254, 1, 174, 0.81) 123.2%);
            flex-shrink: 0;
            @include max-media($bk-d-992){
                padding: 10px 15px;
            }
            @include max-media($bk-576){
                font-size: 0;
            }

            img {
                margin-right: 5px;
                @include max-media($bk-576){
                    margin-right: 0;
                }
            }

            &::after {
                content: '';
                background: $main-cl;
                @include pos-full;
                z-index: -1;
                @include hidden;
                transition: all .5s ease;
            }

            &:hover {
                &::after {
                    @include visible;
                }
            }
        }


    }



}