.us-done{
    .columns{
        align-items: center;
    }

    .column{
        width: 50%;
        @include max-media($bk-d-768){
            width: 100% !important;
        }
        &:nth-child(1){
            @include max-media($bk-d-992){
                width: 55%;
            }
        }
        &:nth-child(2){
            @include max-media($bk-d-992){
                width: 45%;
            }
        }
    }

    .title{
        display: inline-block;
    }

    .mona-content{
        p{
            @include fz-16;
            line-height: 1.5;
        }
    }
    
    .us-inner{
        margin: -15px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        @include max-media($bk-d-1200){
            margin: -7.5px;
        }
        @include max-media($bk-d-992){
            padding-bottom: 15px;
        }
        @include max-media($bk-d-768){
            padding-bottom: 0;
        }
    }

    .us-box{
        width: 50%;
        padding: 15px;
        @include max-media($bk-d-1200){
            padding: 7.5px;
        }
        
        &:nth-child(2) , &:nth-child(4){
            transform: translateY(30px);
            @include max-media($bk-d-992){
                transform: translateY(15px);
            }
            @include max-media($bk-d-768){
                transform: translateY(0);
            }
        }
       
    }

    .us-bx{
        padding: 30px 15px;
        border-radius: 10px;
        background: linear-gradient(360deg, #00F1EF 0%, #1857BD 82.82%);
        @include max-media($bk-d-992){
            padding: 15px;
        }
        @include max-media($bk-576){
            padding: 10px;
        }
    }

    .img{
        margin-bottom: 30px;
        @include  max-media($bk-d-1200){
            margin-bottom: 20px;
        }
        @include max-media($bk-d-992){
            margin-bottom: 15px;
        }
        img{
            margin: 0 auto;
        }
    }

    .label{
        margin-bottom: 15px;
        @include max-media($bk-d-992){
            margin-bottom: 10px;
        }
    }

    .desc{
        line-height: 2;
        @include max-media($bk-d-992){
            line-height: 1.5;
        }
    }
    
}

.about-develop{

    .about-wrapper{
        text-align: center;
    }
    .title{
        display: inline-block;
    }

    .about-main{
        overflow: hidden;
    }

    .content{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        @include max-media($bk-d-992){
            margin: -7.5px;
        }
    }

    .about-bx{
        padding: 15px;
        width: 50%;
        &:nth-child(1){
            width: 67%;
        }

        &:nth-child(2){
            width: 33%;
        }
        @include max-media($bk-d-992){
            padding: 7.5px;
        }
        @include max-media(400px){
            width: 100% !important;
        }
        .img{
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
   
}